<div class="sec-header d-flex px-3 justify-content-between align-items-center bg-color-1st">
    <div class="logo text-white fs-28">
        Logo
    </div>
    <div class="menu text-white">
        <ul>
            <li><a routerLink="/home" routerLinkActive="active" >Home</a></li>
            <li><a routerLink="/about-us" routerLinkActive="active">About Us</a></li>
            <li><a routerLink="/clients" routerLinkActive="active">Client</a></li>
            <li><a routerLink="/contact-us" routerLinkActive="active">Contact Us</a></li>
            <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
            <!-- <li><a routerLink="/signup" routerLinkActive="active">signup</a></li> -->
        </ul>
    </div>
</div>

