<div class="box">
    <div class="box1">
        <div class="box2">
            <input type="text" placeholder="username" style="padding: 15px;
            background: #f2f2f2;
            font-size: 14px;
            padding-right: 60px;">
        </div>
        <div class="box3">
            <input type="text" placeholder="password" style="padding: 15px;
            background: #f2f2f2;
            font-size: 14px;
            padding-right: 60px;">
        </div>
        <div class="box4">
            <button class="box41">login</button>
        </div>
        <div class="box5">
            <p>Not registered?Create an account</p>
        </div>
    </div>
</div>