<div class="d-flex justify-content-center">
    <div class="w-40 py-3 my-5 bg-white border-1">
        <h1 class="text-align-center">Login</h1>
        <div class="d-flex justify-content-center">
            <div class="w-80">
                <input type="text" placeholder="Email" class="w-100 fs-20 box-sizing-border border-radius-50 p-2 mb-2" />
                <input type="password" placeholder="Password" class="w-100 fs-20 box-sizing-border p-2 border-radius-50 mb-2" />
                <div class="mb-2 d-flex justify-content-between">
                    <a routerLink="/for-got" class="text-color-1st" routerLinkActive="active">Forgot password?</a>
                    <a routerLink="/sign-up" class="text-color-1st" routerLinkActive="active">Sign Up</a>
                </div>
                <input type="button" value="Login" class="w-100 border-radius-50 border-1 bg-color-2nd fs-20 box-sizing-border p-2 mb-3" />
            </div>
        </div>
    </div>
</div>