<div class="">
    <div class="box">
        <h1 class="box01">signup</h1>
        <div class="box1">
            <h2>Name</h2>
            <input type ="text" class="box11">
        </div>
            <div class="box2">
                <h2>Email</h2>
                <input type ="text" class="box21">
            </div>
                <div class="box3">
                    <h2>Phone</h2>
                    <input type ="text" class="box31">
                </div>
                <button class="box4">Submit</button>
    
    
    </div>
</div>