/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 400 !important ;
    background-color: #d8d8d8;
}

.px-3{
    padding-left: 1.5em;
    padding-right: 1.5em;
}


.fs-28{
    font-size: 28px;
}

.bg-color-1st{
    background-color: #001529;
}
.text-color-1st{
    color: #001529;
}
.text-white{
    color:white;
}

.d-flex{
    display: flex;
}
.justify-content-between{
    justify-content: space-between;
}
.justify-content-center{
    justify-content: center;
}
.align-items-center{
    align-items:center;
}